* {
	margin:0;
	padding:0;
}
body  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background: #ffffff;
	color: #4e4e4e;
}
a {
	color:#fda016;
	text-decoration:underline;
}
a:hover {
	color:#fda016;
	text-decoration:none;
}
#container { 
	width: 800px; 
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
} 
#header {
	width:800px;
	height:398px;
	background:url(images/headerBackground.jpg) no-repeat left top;
} 
.logoContainer {
	height:54px;	
}
.logo {
	float:left;
}
.author {
	float:right;
	margin-top:30px;
}
h1 {
	color:#fda016;
	font-size:48px;
}
h2 {
	font-size:36px;
	color:#ababab;
}
.logo span {
	color:#abca33;
}
.sloganContainer {
	height:270px;
	width:800px;
}
.sloganLeft {
	float:left;
	width:190px;
	padding-top:30px;
}
.sloganLeft span {
	color:#abca33;
}
.sloganRight {
	float:right;
	width:200px;
	padding-top:30px;
}
.sloganRight span {
	color:#fda016;
}
#sidebar1 {
	float: left; /* since this element is floated, a width must be given */
	width: 202px; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	background: #e5e5e5; /* the background color will be displayed for the length of the content in the column, but no further */
}
.sidebarBottom {
	vertical-align:bottom;
}
.floatLeft {
	float:left;
	margin:0 20px 20px 0;
}
#mainContent p {
	padding-top:30px;
	font-size:17px;
}
#mainContent { 
	margin: 0 0 0 230px; /* the left margin on this div element creates the column down the left side of the page - no matter how much content the sidebar1 div contains, the column space will remain. You can remove this margin if you want the #mainContent div's text to fill the #sidebar1 space when the content in #sidebar1 ends. */
	padding: 0 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
}
h3 {
	font-size:14px;
	margin:0 10px;
}
#sidebar1 li {
	list-style:none;
	background:url(images/sidebarP.gif) no-repeat left 5px;
	padding-left:15px;
	margin:10px 10px;
}
#sidebar1 a {
	color:#4e4e4e;
	text-decoration:underline;
}
#sidebar1 a:hover {
	color:#4e4e4e;
	text-decoration:none;
}
#footer { 
	background:#f0f0f0;
	margin-bottom:20px;
} 
#footer p {
	text-align:center;
	margin:2px 20px;
}
.footerBottom {
	vertical-align:bottom;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}


/*begin main menu*/
#navcontainer ul {
	padding-left: 0;
	margin-left: 0;
	color: White;
	float: left;
	width: 100%;
	font-family: arial, helvetica, sans-serif;
}
#navcontainer ul li { 
	display: inline; 
}
#navcontainer ul li a {
	padding:5px 35px 0 12px;
	color: #ababab;
	text-decoration: none;
	float: left;
	border-right: 1px solid #fff;
	font-size:29px;
	background:url(images/menuP.gif) no-repeat left 14px;
}
#navcontainer ul li a:hover {
	padding:5px 35px 0 12px;
	color: #fda016;
	text-decoration: none;
	float: left;
	border-right: 1px solid #fff;
	font-size:29px;
	background:url(images/menuActiveP.gif) no-repeat left 14px;
}
#navcontainer #active a {
	padding:5px 35px 0 12px;
	color: #fda016;
	text-decoration: none;
	float: left;
	border-right: 1px solid #fff;
	font-size:29px;
	background:url(images/menuActiveP.gif) no-repeat left 14px;
}
/*end main menu*/